.Sing{
    margin: 30px 300px !important;
    border: 1px solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}


@media screen and (max-width: 1000px) {
    .Sing{
        margin: 20px 100px!important;
       
    }
}
@media screen and (max-width: 500px) {
    .Sing{
        margin: 20px 30px!important;
       
    }
}

