
Footer{
    background-color: black;
    padding: 10px;
    color: white;
    margin-top: 60px;
 
}



  ul{
   
    list-style: none;
    text-align: center;

}




ul li a{
    color: white;
    text-decoration: none;
    
}


.medis i{
  
  width: 40px;
  font-size: 30px;
}